.div1{
   
    display: block;
    width: 200px;
}
.image1{
    border-radius: 20px;
    width: 200px;
    
}
.image2{
    border-radius: 200px;
    width: 150px;
    object-fit: cover;
    object-position: center;
}